/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #f9f9f9;
  /* border: 0.05rem solid #f9f9f9; */
}

/*
 * Base structure
 */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

body {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

.cover-container {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  max-width: 42em;
  background-color: #f9f9f9;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cover-heading {
  font-size: 1.429em;
  font-weight: 500;
  max-width: 360px;
  margin: 0 auto 1em;
  text-align: center;
}

.cover-subtitle,
.content-list {
  font-size: 1.143em;
  font-weight: 300;
  line-height: 1.714em;
  color: #666;
  margin: 0.5em auto;
  max-width: 360px;
  text-align: center;
}

.form-group {
  margin-left: 1em;
  margin-right: 1em;
}

.form {
  max-width: 32em;
}

.form,
.thanks {
  display: none;
}

.margin-bottom {
  margin-bottom: 1em;
}
